<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow">
    <div class="justify-content-center col-md-2">
        <a class="navbar-brand text-white text-center" asp-area="" asp-controller="User" asp-action="Bicycles">Bicycle Store</a>
    </div>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between row">
        <ul class="navbar-nav flex-grow-1 col-md-10"></ul>
        <ul class="navbar-nav flex-grow-1">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown" style="float:right;">
                        <a href="#" class="nav-link text-white">@User.Identity.Name</a>
                        <ul class="dropdown-content bg-dark list-unstyled">
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="SetProfile">Change Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="UserOrders">Orders</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Logout">Log out</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="SetProfile">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Login" asp-route-ReturnUrl="@{
                        @Context.Request.Path
}">Log In</a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>
