@{Layout = "_LayoutUser";}
@model bicycle_store_web.User

@{
if (Model.Id != 0)
{
    <h2 class="text-dark text-center">"Log In"</h2>
    <form id="userForm">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Username"></label>
            </div>
            <div class="col-8">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Password"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Password" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12  d-flex flex-row">
                <!--<button type="button" class="btn btn-primary form-control m-1"-->
                @*!!!!!!!!              onclick="saveObject('/Admin/SaveUser', '#userForm')"*@
                <!--Log In
                </button>-->
                <button type="button" class="btn btn-primary form-control m-1" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </form>
}
else
{
    <h2 class="text-dark text-center">Register</h2>
    <form id="userForm">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="FullName"></label>
            </div>
            <div class="col-8">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Phone"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Phone" class="form-control"></textarea>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Email"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Email" class="form-control"></textarea>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Adress"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Adress" class="form-control"></textarea>
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Username"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Username" class="form-control"></textarea>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-black-50">
                <label asp-for="Password"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Password" class="form-control"></textarea>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12  d-flex flex-row">
                <button type="button" class="btn btn-primary form-control m-1"
                        onclick="saveObject('/Users/SaveUser', '#userForm')">
                    Register
                </button>
                <button type="button" class="btn btn-primary form-control m-1" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </form>
}
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}