@*@{Layout = "_Layout";}*@
@model Order

@*<div class="form-group row">
    <div class="col-4 text-black-50">
        <label asp-for="BicycleOrders.">Bicycle</label>
    </div>
    <div class="col-8">
        <select asp-items="ViewBag.Bicycles" value="" class="form-control" asp-for="BicycleOrders.">
            <option value="none" selected disabled hidden>Select a Bicycle</option>
        </select>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
</div>*@
